<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security" >

<head>
	<title>Spring-Boot Thymeleaf </title>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<link rel="icon" href="/images/favicon.png" />

	<!-- Bootstrap core CSS -->
	<link th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}" rel="stylesheet">
	<link th:href="@{/webjars/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css}" rel="stylesheet" />
	
	<!-- Custom styles for this template -->
	<link th:href="@{/css/home.css}" rel="stylesheet" />
	<link th:href="@{/css/login.css}" rel="stylesheet" />
	<link th:href="@{/css/registration.css}" rel="stylesheet" />
</head>
<body>
	<header th:replace="fragments/topo :: topo" sec:authorize="isAuthenticated()">
		<div>topo</div>
	</header>
	 
	<div class="container" >
		<!-- <aside>
			<nav th:replace="fragments/sidebar :: nav-sidebar">
				<span>Menu</span>
			</nav>
		</aside> -->
	
		<section layout:fragment="corpo">
			<div>corpo</div>
		</section>
	</div>
	
		<footer th:replace="fragments/footer :: rodape">
		<div>footer</div>
		</footer>


	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
	<script th:src="@{/webjars/jquery-mask-plugin/1.14.15/dist/jquery.mask.min.js}"></script>
	<script th:src="@{/webjars/popper.js/1.14.3/umd/popper.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
	   
</body>
</html>